!DOCTYPE html
html
    head
        title 哈哈
    body
        #box
            ul
                li  我是新闻
                li  我是新闻
                li  我是新闻
                li  我是新闻
                li  我是新闻
        #aside