<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <meta charset="utf-8">
    <title>登陆</title>
    </head>
    <body>
        <div>
            <p>
                登录名: <input type="text" id="username">
            </p>
            <p>
                密码：<input type="password" id = "password">
            </p>
            <p>
                <input type="submit" value="注册" id = "signin">
            </p>
            <script type="text/javascript" src = "/js/jquery-1.11.3.min.js"></script>
            <script type="text/javascript">
                //用AJAX提交表单
                $("#signin").click(function () {
                    $.post("/doregist",{
                        "username" : $("#username").val(),
                        "password" : $("#password").val()
                    },function (result) {
                        if(result == "1")
                            alert("注册成功");
                        else {
                            alert("注册失败");
                        }
                    })
                })
            </script>
        </div>
    </body>
    </html>